.content {
	background: var(--ion-color-dark);
	min-width: 100vw;
	
	&::-webkit-scrollbar {
		display: none;
	}

	.button{
		width: 100%;
		height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
		background: transparent;
		color: var(--ion-color-light);
		&:hover{
			background: rgba(0,0,0,0.1);
		}
	}
	ion-icon{
		margin-right: 8px;
	}
}

.button-inner{
	justify-content: start;
}
