<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-list>
    <ion-item lines="none" *ngFor="let field of fields; index as i" [class.active]="field.active">
      <ion-label v-if="field.icon">
        <ion-icon :color="field.active ? 'primary' : 'light'" [name]="field.icon"></ion-icon>
      </ion-label>
      <ion-input  
        [type]="field.type"
        [email]="field.type==='email'"
        [autofocus]="field.autofocus"
        [placeholder]="field.placeholder"
        color="light"
        [maxlength]="field.maxlength"
        [minlength]="field.minlength"
        [formControlName]="field.formControlName"
        [required]="field.required"
        (ionFocus)="activate(i)">
      </ion-input>
      <ion-icon *ngIf="submitted && form.controls[field.formControlName].invalid" color="danger" slot="end" name="alert" class="error" ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button expand="full" type="submit">
    Login
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon slot="end" name="log-in"></ion-icon>
  </ion-button>
  <ion-button fill="clear" href="auth/register" expand="block" color="light">
      Signup
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
</form>