
ion-list{   
    ion-item{
        --padding-start: 4px;
        border-bottom: 1px solid #b1b1aa;   
        margin-bottom: 16px;
        transition: 0.3s;
        ion-label{
            margin-bottom: 0;   
            font-size: 22px; 
            ion-icon{
                transition: 0.3s;
            }
        }
        ion-input{
            --padding-bottom: 4px;  
            --padding-start: 8px;
            --padding-end: 16px;
        }

        ion-icon.error{
            position: absolute;
            right: 0;
            top: 5px;
        }
        &.active{
            border-bottom: 1px solid var(--ion-color-primary);   
            ion-label ion-icon{
                font-size: 28px;
                color: red !important;
                --background: red !important;
                --color: red !important;
                svg{
                    color: red !important;
                    fill: red !important;
                }
            }
            ion-input{
                font-size: 18px;
            }
        }
    }

}
