<form 
  [formGroup]="form" 
  (ngSubmit)="submitForm($event)">
  <ion-list>
    <ion-item 
      lines="none" 
      *ngFor="let field of fields; index as i" 
      [class.active]="field.active">
      <ion-label v-if="field.icon">
        <ion-icon 
          [color]="field.active ? 'primary' : 'light'" 
          [name]="field.icon">
        </ion-icon>
      </ion-label>
      <ion-input  
        [type]="field.type"
        [email]="field.type==='email'"
        [autofocus]="field.autofocus"
        [placeholder]="field.placeholder"
        color="light"
        [name]="field.formControlName"
        [value]="field.value"
        [maxlength]="field.maxlength"
        [minlength]="field.minlength"
        [formControlName]="field.formControlName"
        [required]="field.required"
        (ionFocus)="activate(i)">
      </ion-input>
      <ion-icon
        *ngIf="submitted && form.controls[field.formControlName].invalid" 
        color="danger" 
        slot="end" 
        name="alert" 
        class="error">
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-button 
    expand="full" 
    type="submit"
    class="primary"
    *ngIf="primary && primary.text">
    {{primary.text}}
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <!-- TODO: Change this href by making a redirect function because Angular is overcomplicated for testing. -->
  <ion-button 
    *ngIf="secondary && secondary.href"
    fill="clear" 
    class="secondary"
    [href]="secondary.href" 
    expand="block" 
    color="light">
    {{secondary.text}}
  </ion-button>
</form>