<div class="content">
  <h4 class="title">{{movies.title}}</h4>
  <ion-list>
    <ion-item 
      lines="none" 
      *ngFor="let movie of movies.list" 
      (click)="showDetailsEmmiter(movie.id)"
      [style.display]="movie.poster_path ? 'block' : 'none'">
      <ion-label color="light">{{movie.title || '-'}}</ion-label>
      <img 
        [src]="movie.poster_path ? 'http://image.tmdb.org/t/p/w200/' + movie.poster_path : ''" 
        onerror="this.style.display='none'"/>
    </ion-item>
  </ion-list>
</div>