.auth-content{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--ion-color-dark);
    color: var(--ion-color-light);

    .logo p{
        font-size: 13px;
    }
}

app-login{
    width: 100%;
    max-width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}