<div class="content">
  <ion-list>
      <div *ngIf="!movieLists || movieLists.length === 0">
          <div *ngFor="let i of [1,2,3,4,5,6,7]" style="margin-bottom: 20px">
              <ion-skeleton-text width="90%"></ion-skeleton-text>
              <ion-skeleton-text width="80%"></ion-skeleton-text>
              <ion-skeleton-text width="50%"></ion-skeleton-text>
              <ion-skeleton-text width="60%"></ion-skeleton-text>
              <ion-skeleton-text width="70%"></ion-skeleton-text>
          </div>
      </div>
      <app-movie-list 
        *ngFor="let movies of movieLists" 
        [movies]="movies" 
        (showDetails)="showDetails($event)">
      </app-movie-list>
  </ion-list>
  <ion-infinite-scroll 
      threshold="48px" 
      (ionInfinite)="loadMoreMovies($event)"
      [style]="showLoader ? '' : 'display: none;'">
      <ion-infinite-scroll-content 
          loadingSpinner="crescent" 
          color="primary">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
<app-movie-detail
    (hide)="hideDetails($event)"
    [active]="isDetailsVisible"
    [movie]="detailsMovie">
</app-movie-detail>