<div class="content">
  <ion-list>
    <div class="img-container">
        <img 
            *ngIf="highlightedMovies && highlightedMovies.length > 0"
            [class.active]="currentHighlight === 0"
            [src]="'http://image.tmdb.org/t/p/w780/' + (highlightedMovies[0].poster_path || highlightedMovies[0].backdrop_path)"/>
            <img 
            *ngIf="highlightedMovies && highlightedMovies.length > 0"
            [class.active]="currentHighlight === 1"
            [src]="'http://image.tmdb.org/t/p/w780/' + (highlightedMovies[1].poster_path || highlightedMovies[1].backdrop_path)"/>
            <img 
            *ngIf="highlightedMovies && highlightedMovies.length > 0"
            [class.active]="currentHighlight === 2"
            [src]="'http://image.tmdb.org/t/p/w780/' + (highlightedMovies[2].poster_path || highlightedMovies[2].backdrop_path)"/>
    </div>
    <div *ngIf="!movieLists || movieLists.length === 0">
        <div *ngFor="let i of [1,2,3,4,5,6,7]" style="margin-bottom: 20px">
            <ion-skeleton-text width="90%"></ion-skeleton-text>
            <ion-skeleton-text width="80%"></ion-skeleton-text>
            <ion-skeleton-text width="50%"></ion-skeleton-text>
            <ion-skeleton-text width="60%"></ion-skeleton-text>
            <ion-skeleton-text width="70%"></ion-skeleton-text>
        </div>
    </div>
    <app-movie-list
        *ngIf="favoriteMoviesList && favoriteMoviesList.list && favoriteMoviesList.list.length > 0"
        [movies]="favoriteMoviesList"
        (showDetails)="showDetails($event)">
    </app-movie-list>
    <app-movie-list
        *ngIf="myListMoviesList && myListMoviesList.list && myListMoviesList.list.length > 0"
        [movies]="myListMoviesList"
        (showDetails)="showDetails($event)">
    </app-movie-list>
    <app-movie-list 
        *ngFor="let movies of movieLists" 
        [movies]="movies" 
        (showDetails)="showDetails($event)">
    </app-movie-list>
  </ion-list>
  <ion-infinite-scroll 
      threshold="48px" 
      (ionInfinite)="loadMoreMovies($event)"
      [style]="showLoader ? '' : 'display: none;'">
      <ion-infinite-scroll-content 
          loadingSpinner="crescent" 
          color="primary">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
<app-movie-detail
    (hide)="hideDetails()"
    [active]="isDetailsVisible"
    [movie]="detailsMovie"
    [favorites]="favoriteMoviesList"
    [myList]="myListMoviesList"
    [downloads]="downloads">
</app-movie-detail>