<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login(user)">Entrar</ion-button>

  <ion-item text-center>
      <ion-label (click)="register()">Increva-se agora</ion-label> 
  </ion-item>

</ion-content>
