<div class="component-content">
    <div class="poster-placement">
      <img [src]="movie?.poster_path" />
    </div>
    <div class="first-detail-content">
      <span class="title f-22 white k2d-eb">{{ movie?.title }}</span><br />
      <span class="sub-info white k2d-m">Gêneros:</span><span class="k2d-i white"> Ação, Drama, Drogas </span><br />
      <span class="sub-info white k2d-m">Popularidade:</span><span class="k2d-i white"> {{ movie?.popularity }} </span><br />
      <span class="sub-info white k2d-m">Duração:</span><span class="k2d-i white"> {{ getDurationString(movie?.runtime) }} </span>
    </div>
    <div class="description-content white k2d-mi">
      {{ movie.overview }}
    </div>
</div>
