
.login-form-button {
  width: 80%;
  margin-top: 15px;
  background-color: #E50914;
  color: #f5f5f1;
  padding: 4px;
  border-radius: 4px;
  border-bottom: solid 3px #960000;
}

.recover-pass-content {
  margin-top: 20px;
}

.underlined{
  text-decoration: underline;
  color: #f5f5f1;
}

.alert-button-inner.sc-ion-alert-ios {
  --color: #F00;
  color: #F00;
  --background: red;

}

.custom-alert-button {
  .button.alert-button-inner {
    color: red;
  }
  .button.alert-button {
    color: red;
  }
  color: red;
  --color: red;
  --background: red;

}

custom-alert-button {
  .button.alert-button-inner {
    color: red;
  }
  .button.alert-button {
    color: red;
  }
  color: red;
  --color: red;
  --background: red;
}

alert-button-inner.sc-ion-alert-ios {
  --color: #F00;
  color: #F00;
}

.test-ss {
  --background: red;
  .alert-button-inner.sc-ion-alert-ios {
    --color: #FFF;
    color: #FFF;

  }
}
