<div>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating" color="primary">Email:</ion-label>
      <ion-input formControlName="email" type="email" class="input-txt white f-16 k2d-m"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Senha:</ion-label>
      <ion-input formControlName="password" type="password" class="input-txt white f-16 k2d-m"></ion-input>
    </ion-item>
    <button ion-button class="login-form-button" (click)="loginButtonPressed()">
      <span class="f-22 white k2d-eb"> LOGAR </span>
    </button>
  </form>
  <button ion-button class="login-form-button" (click)="registerButtonPressed()">
    <span class="f-22 white k2d-eb"> REGISTRAR </span>
  </button>
  <div class="recover-pass-content">
    <span class="f-18 white k2d-mi underlined" (click)="forgotPassButtonPressed()">Recuperar senha</span>
  </div>
</div>
