h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

ion-content {
    --background: var(--ion-color-dark-shade);
    --color: var(--ion-text-color, var(--ion-color-light));
}

ion-tab-bar {
    --background: var(--ion-color-dark-shade);
    --color: var(--ion-text-color, var(--ion-color-medium));

    .tab-selected {
        color: var(--ion-color-light);
    }

    .tab-selected:hover {
        color: var(--ion-color-light);
    }
}

.sc-ion-searchbar-md-h,
.sc-ion-searchbar-ios-h {
    --clear-button-color: var(--ion-color-medium-tint2);
    --cancel-button-color: var(--ion-color-step-900, var(--ion-color-medium-tint2));
    --color: var(--ion-color-step-850, var(--ion-color-light-tint2));
    --icon-color: var(--ion-color-step-600, var(--ion-color-medium-tint2));
    --background: var(--ion-background-color, var(--ion-color-dark-shade2));
}


::-webkit-scrollbar {
    display: none;
}

ion-tab-button:hover {
    --color-selected: var(--ion-color-light-tint);
}