<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="start">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>{{ start }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="ios-search"></ion-icon>
      <ion-label>{{ search }}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="more">
      <ion-icon name="ios-menu"></ion-icon>
      <ion-label>{{ more }}</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
