.img-container{
    position: relative;
    width: 120px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 100%;
        filter: brightness(65%);
    }   
}

.title{
    padding-left: 8px;
    font-size: 14px;
    color: var(--ion-color-light);
}

ion-icon.loading{
    animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
    70% {transform: rotateZ(0);}
    100% {transform: rotateZ(180deg);}
}