.img-container{
    position: relative;
    width: 120px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 100%;
        filter: brightness(65%);
    }
}