<ion-content>
  <div class="page-content">
    <ion-slides #slides class="slides-component">
      <!-- Login -->
      <ion-slide class="page-slide">
        <div class="login-upper-content flex-1">
          <span class="k2d-eb red f-24">FakeFlix</span>
        </div>
        <div class="login-mid-content flex-2">
          <app-login-form (registerEvent)="slideToRegister()" (loginEvent)="authenticate($event)"></app-login-form>
        </div>
        <div class="login-bottom-content flex-1"></div>
      </ion-slide>
      <!-- Register -->
      <ion-slide>

      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
