<ion-app>
  <ion-split-pane>
    <ion-router-outlet main></ion-router-outlet>
    <ion-menu side="end">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title> -->
            <span class="f-24 white k2d-eb">MENU</span>
          <!-- </ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-content">
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <ion-item class="ion-item-class" (click)="navHome()">
              <span class="f-20 black k2d-b">
                Inicio
              </span>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item class="ion-item-class" >
              <ion-col>
                <ion-row>
                  <span class="f-20 black k2d-b">
                    Categorias
                  </span>
                </ion-row>
                <ion-row>
                  <ion-list class="category-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let category of categoriesItems" (click)="searchByCategory(category)">
                      <ion-item class="ion-item-class">
                        <span class="f-16 black k2d-b">
                          {{ category.label }}
                        </span>
                      </ion-item>
                    </ion-menu-toggle>
                  </ion-list>
                </ion-row>
              </ion-col>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item class="ion-item-class" (click)="logout()">
              <span class="f-20 black k2d-b">
                Sair
              </span>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-app>
