.content{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
		display: none;
	}
    span{
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--ion-color-primary);
        color: var(--ion-color-medium);
        &:nth-child(2){
            background: var(--ion-color-secondary);
            color: var(--ion-color-dark-shade);
        }
        &:nth-child(3){
            background: var(--ion-color-tertiary);
            color: var(--ion-color-dark);
        }
        &:nth-child(4){
            background: var(--ion-color-dark);
            color: var(--ion-color-light);
        }
    }
}