<div class="content" [class.active]="active">
    <ion-icon name="arrow-back" (click)="hide.emit()"></ion-icon>
    <div class="info" *ngIf="movie">
        <div class="img-container">
            <img [src]="'http://image.tmdb.org/t/p/w780/' + (movie.backdrop_path || movie.poster_path)"/>
            <span>{{movie.title}}</span>
        </div>
        <div class="header">
            <span class="score">{{movie.vote_average === '10' ? '100' : movie.vote_average.toString().replace('.','').replace(',', '').padEnd(2,'0')  + '% Match'}}</span>
            <span class="date">{{movie.release_date | date}}</span>
        </div>
        <div class="decription">
            {{movie.overview || 'No description for this movie.'}}
        </div>
        <div class="actions">
            <div>
                <ion-button 
                    expand="full" 
                    type="button" 
                    fill="clear" 
                    color="light"
                    (click)="myListAction()">
                    <ion-icon name="add" slot="icon-only"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-button>
                <span>My List</span>
            </div>
            <div>
                <ion-button 
                    expand="full" 
                    type="button" 
                    fill="clear" 
                    color="light"
                    (click)="favoritesAction()">
                    <ion-icon [name]="movie.favorited ? 'heart' : 'heart-empty'" slot="icon-only"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-button>
                <span>Favorite</span>
            </div>
            <div>
                <ion-button expand="full" type="button" fill="clear" color="light">
                    <ion-icon name="download" slot="icon-only"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-button>
                <span>Download</span>
            </div>
            <div>
                <ion-button 
                    expand="full" 
                    type="button" 
                    fill="clear" 
                    color="light"
                    (click)="share()">
                    <ion-icon name="share" slot="icon-only"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-button>
                <span>Share</span>
            </div>
        </div>
    </div>
</div>