<div class="content" [class.active]="active">
    <ion-icon name="arrow-back" (click)="hide.emit()"></ion-icon>
    <div class="info" *ngIf="movie">
        <div class="img-container">
            <img [src]="'http://image.tmdb.org/t/p/w780/' + (movie.backdrop_path || movie.poster_path)"/>
            <span>{{movie.title}}</span>
        </div>
        <div class="header">
            <span class="score">{{movie.vote_average === '10' ? '100' : movie.vote_average.toString().replace('.','').replace(',', '').padEnd(2,'0')  + '% Match'}}</span>
            <span class="date">{{movie.release_date}}</span>
        </div>
        <br>
        <br>
        <br>
        <br>
        {{movie | json}}
    </div>
</div>