.toolbar {
  background-color: #F00 !important;
}

.body {
  background: #221F1F !important;
}
.upper-content {
  height: 40px;
  width: 100%;
}

.scroll-content {
  margin-top: 20px;
  height: calc(100% - 40px);
  width: 100%;
}
