<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="ion-menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title class="f-22 white k2d-bi">
      FAKEFLIX
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="upper-content">
    <app-search #searchComponent (searchEvent)="searchEventEmmited($event)"></app-search>
  </div>
  <div class="scroll-content" *ngIf="!searchActive">
    <app-horizontal-scroll (movieSelected)="viewMovieInfo($event)" [movies]="userFavorites"  [categoryName]="'Favoritos'"></app-horizontal-scroll>
    <app-horizontal-scroll (movieSelected)="viewMovieInfo($event)" [movies]="mostSeen" [categoryName]="'Em Alta'"></app-horizontal-scroll>
    <app-horizontal-scroll (movieSelected)="viewMovieInfo($event)" [movies]="mostPopular" [categoryName]="'Recomendados'"></app-horizontal-scroll>
    <app-horizontal-scroll (movieSelected)="viewMovieInfo($event)" [movies]="newRealeases" [categoryName]="'Mais Assistidos'"></app-horizontal-scroll>
  </div>
  <div class="scroll-content" *ngIf="searchActive">
    <span class="f-14 white k2d-bi search-label">Filmes encontrados com "{{ searchingText }}" ...</span>
    <div class="movies-display-grid">
      <app-grid-view [movies]="searchResult" (movieSelected)="viewMovieInfo($event)"></app-grid-view>
    </div>
  </div>
</ion-content>
