<ion-header>
  <ion-toolbar>
    <ion-title>Crie sua conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  
    <ion-button expand="full" (click)="register(user)">Continuar</ion-button>
</ion-content>
