.search-content {
  height: 100%;
  width: 100%;
}

.sc-ion-searchbar-ios-h, .sc-ion-searchbar-md-h{
  --clear-button-color: white;
  --cancel-button-color: white;
  --color: white;
  --icon-color: white;
  --background: none;
}

// .sc-ion-searchbar-md-h{
//   --clear-button-color: white;
//   --cancel-button-color: white;
//   --color: white;
//   --icon-color: white;
//   --background: none;
// }
