<div class="content">
    <h4 class="title">My List</h4>
    <ion-list *ngIf="movieList && movieList.list && movieList.list.length > 0">
        <ion-item 
            lines="none" 
            *ngFor="let movie of movieList.list" 
            (click)="showDetailsEmmiter(movie.id)"
            [style.display]="movie.poster_path ? 'block' : 'none'">
            <ion-label color="light">{{movie.title || '-'}}</ion-label>
            <img 
            [src]="movie.poster_path ? 'http://image.tmdb.org/t/p/w200/' + movie.poster_path : ''" 
            onerror="this.style.display='none'"/>
        </ion-item>
    </ion-list>
</div>