// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.transparent{
    background: transparent;
    background-color: transparent;
    .item-native{
        background: transparent;
        background-color: transparent;
    }
}
.transparent-i{
    background: transparent !important;
    background-color: transparent !important;
    .item-native{
        background: transparent !important;
        background-color: transparent !important;
    }
}
