.content {
	background: var(--ion-color-dark);
	min-height: 100vh;
	min-width: 100vw;
	
	&::-webkit-scrollbar {
		display: none;
	}
}

ion-header {
	background: var(--ion-color-dark-shade);
	display: flex;
	justify-content: center;
	align-items: center;

	.logo {
		padding-top: 12px;
		transition: 0.3s;
		img {
			transition: 0.3s;
			width: 128px;
		}

		&:hover{
			padding-top: 9px;
			img{
				filter: drop-shadow(4px 5px 0px);
				width: 136px;
			}
		}
	}
}

ion-tab{
    padding-top: 64px;
}

ion-tab-bar{
	background: black;
	.tab-selected{
		ion-icon{
			--ion-color-base: var(--ion-color-light) !important;
		}
	}
}	

ion-tab{
	min-width: 100vw;
	overflow-y: scroll;
	display: none;
	&.active{
		display: block;
		position: relative;
		contain: unset;
	}
}


ion-infinite-scroll {
	background: var(--ion-color-dark);
	--color: var(--ion-color-primary);
}