<ion-header>
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
</ion-header>

<ion-content>
    <div class="content">
        <ion-list>
            <app-movie-list *ngFor="let movies of movieLists" [movies]="movies"></app-movie-list>
        </ion-list>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreMovies($event)">
        <ion-infinite-scroll-content loadingSpinner="lines">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
