<ion-header>
	<div class="logo">
		<img src="assets/images/logo.png" alt="">
	</div>
</ion-header>
<ion-tabs>
	<ion-content>
		<ion-tab 
			tab="home" 
			[class]="'ion-page hydrated ' + (currentTab === 1 ? 'active' :'tab-hidden')" 
			[active]="currentTab === 1">
			<app-dashboard></app-dashboard>
		</ion-tab>
		<ion-tab 
			tab="my-list"
			[class]="'ion-page hydrated ' + (currentTab === 2 ? 'active' :'tab-hidden')" 
			[active]="currentTab === 2">
			My List
		</ion-tab>
		<ion-tab 
			tab="downloads"
			[class]="'ion-page hydrated ' + (currentTab === 3 ? 'active' :'tab-hidden')" 
			[active]="currentTab === 3">
			Downloads
		</ion-tab>
		<ion-tab 
			tab="settings"
			[class]="'ion-page hydrated ' + (currentTab === 4 ? 'active' :'tab-hidden')" 
			[active]="currentTab === 4">
			<app-settings></app-settings>
		</ion-tab>
	</ion-content>
	<ion-tab-bar slot="bottom" selected-tab="home" >
		<ion-tab-button tab="home" (click)="changeTab(1)">
			<ion-icon name="home" color="medium-shade"></ion-icon>
		</ion-tab-button>
		<ion-tab-button tab="my-list" (click)="changeTab(2)">
			<ion-icon name="film" color="medium-shade"></ion-icon>
		</ion-tab-button>
		<ion-tab-button tab="downloads" (click)="changeTab(3)">
			<ion-icon name="download" color="medium-shade"></ion-icon>
		</ion-tab-button>
		<ion-tab-button tab="settings" (click)="changeTab(4)">
			<ion-icon name="settings" color="medium-shade"></ion-icon>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
