.content{
    background: var(--ion-color-dark);
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-header{
    background: var(--ion-color-dark-shade);

    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        img{
            width: 160px;
        }
    }
}